<p>
  <strong>{{id}}.</strong> {{burger_name}}

  {{#if devoured}}
    <br>
    <button class="change-devoured btn btn-outline-danger btn-sm" id="devourBtn" data-id="{{id}}" data-newdevoured="{{devoured}}"><strong>DEVOUR 😛</strong></button>
  {{/if}}

  <button class='delete btn btn-danger btn-sm' id="deleteBtn" data-id="{{id}}"><string>x</string></button>
</p>